body{
    background: #5a6ba5;
    width: 900px;
    margin: auto;
}
.wrapper{
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: 50px 800px 50px ;
    margin-left: auto;
    grid-gap: 10px;
}
#title{
    grid-column: 1/4;
    border: 1px cyan solid;
    text-align: center;
    color: darkkhaki;
}
#slider{
    grid-column: 1/4;
    grid-row: 2/3;
    border: darkkhaki;
    height: auto;
    background-color: #40292b;
}
#buttons{
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: burlywood;
    border: darkkhaki 1px solid;
    ;
}
#btnF{
    background-color: darkblue;
    width: 200px;
    height: 35px;
    margin-left: 10px;
    margin-top: 7px;
    color: beige;
    font-size: 27px;
    cursor: pointer;
    margin-bottom: 7px;
}
#btnR{
    background-color: darkblue;
    width: 200px;
    height: 35px;
    margin-right: 10px;
    margin-top: 7px;
    color: beige;
    font-size: 27px;
    cursor: pointer;
    float: right;
    margin-bottom: 7px;
}
#head1{
    color: #5a6ba5;
    text-align: center;
}
#head2{
    color: #ebdd67;
    text-align: center;
}
#internal,#internal1{
    padding: 10px;
    color: beige;
    font-size: 21px;
    text-align: left;
    margin: auto;
}
#intro{
    padding: 10px;
    font-size: 21px;
    color: #ebdd67;
}
#vue{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}
.pera{
    text-align: center;
    color: red;
}
.pera1{
    text-align: left;
    color: wheat;
    margin: auto;
    padding: 10px;
}
.img{
    margin-left:auto ;
    margin-right: auto;
    display: block;
}
#syn{
   // width: 600px;
   // height: 200px;
}
.ul{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    color: #ebdd67;
    width: 350px;
}
h1,h2,h3{
    margin-left: 10px;
    color: chartreuse;
}