body{
    background: #5a6ba5;
    width: 900px;
    margin: auto;
}
.wrapper{
    display: grid;
    grid-template-rows: 100px auto auto 55px;
    grid-template-columns: 50px 800px 50px ;
    margin-left: auto;
    grid-gap: 10px;
}
#title{
    grid-column: 1/4;
    border: 1px cyan solid;
    text-align: center;
    color: #c5ffc5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 50px;
    background-color: darkblue;.
    font-family: 'Volkhov', serif;
    text-shadow: 0 0 3px #ebdd67;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#slider{
    grid-column: 1/4;
    grid-row: 2/3;
    border: darkkhaki;
    height: auto;
    background-color: #ad7577;
}
#buttons{
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: burlywood;
    border: darkkhaki 1px solid;
    ;
}
#btnF{
    background-color: darkblue;
    width: 200px;
    height: 35px;
    margin-left: 10px;
    margin-top: 7px;
    color: beige;
    font-size: 27px;
    cursor: pointer;
    margin-bottom: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnR{
    background-color: darkblue;
    width: 200px;
    height: 35px;
    margin-right: 10px;
    margin-top: 7px;
    color: beige;
    font-size: 27px;
    cursor: pointer;
    float: right;
    margin-bottom: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnF:hover , #btnR:hover{
    color: slateblue;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#head1{
    color: chartreuse;
    text-align: center;
}
#head2{
    color: #ebdd67;
    text-align: center;
}
#internal,#internal1{
    padding: 10px;
    color: beige;
    font-size: 21px;
    text-align: left;
    margin: auto;
}
#intro{
    padding: 10px;
    font-size: 21px;
    color: #ebdd67;
}
#vue{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
}
.pera{
    text-align: center;
    color: #ffe06b;
    font-family: 'Merriweather', serif;
}
.pera1{
    text-align: left;
    color: wheat;
    margin: auto;
    padding: 10px;
    font-family: 'Merriweather', serif;
}
.img{
    margin-left:auto ;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#syn{
   // width: 600px;
   // height: 200px;
}
.ul{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    color: #ebdd67;
    width: 350px;
}
h1,h2,h3{
    margin-left: 10px;
    color: chartreuse;
}
#auto{
    grid-row: 4/5;
    grid-column: 1/4;
    background-color: burlywood;
    border: darkkhaki 1px solid;

}
#listBox{
    height: 30px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
span{
    margin-left: 10px;
    margin-right: 10px;
}
#btnPlay{
    width: 200px;
    height: 35px;
    font-size: 21px;
    cursor: pointer;
    color: #326400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnPlay:hover{
    color: #1926df;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#nav{
    width: 920px;
    background-color: black;
    height: 35px;
}
#tit{
    color: #f2f0ff;
    font-size: 21px;
    margin: auto;
    position: relative;
    top: 5px;
    display: block;
    text-align: center;

}
span{
    font-size: 21px;
    color: #c5ffc5;
}
#sp{
    color: lawngreen;
}
length{
    font-size: 31px;
    font-weight: 700;
}
